:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  color: #eaeaea;
  background: linear-gradient(182deg, #1c1d20 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.section {
  padding: 28px 0;
}

.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 24px;
}

@include media(desktop) {
  .container {
    max-width: 1200px;
    padding: 0 32px;
  }

  .section {
    padding: 64px 0;
  }
}
