/* Styles for titles */

.section-title {
  height: 37px;
  margin-bottom: 16px;
  overflow: visible;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.title-decoration {
  position: relative;
}
.title-decoration::after {
  content: '';
  background-image: url('/img/genegal/star_line_dis_m@1x.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 272px;
  height: 20px;
  position: relative;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .title-decoration::after {
    background-image: url('/img/general/star_line_dis_m@2x.png');
  }
}

@include media(desktop) {
  .section-title {
    height: 86px;
    margin-bottom: 48px;
    font-size: 40px;
  }
  .title-decoration::after {
    background-image: url('/img/general/star_line_dis_d@1x.png');
    margin-bottom: 24px;
    width: 808px;
    height: 67px;
    top: -17px;
  }
  @media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .title-decoration::after {
      background-image: url('/img/general/star_line_dis_d@2x.png');
    }
  }
}

/* Styles for swiper buttons */

.swiper-nav-btn-wrapper {
  display: none;
}

@include media(desktop) {
  .swiper-nav-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .swiper-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #bcf6ff;
    box-shadow: 0px 0px 2px 0px #ffffff;
    box-shadow: 0px 0px 8px 0px #dffbff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  .swiper-nav-btn:hover,
  .swiper-nav-btn:focus {
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 0px #ffffff;
    box-shadow: 0px 0px 8px 0px #dffbff;
  }
  .prev-icon,
  .next-icon {
    stroke: #ffffff;
    fill: transparent;
    transition: stroke 0.3s ease;
  }
  .prev-icon {
    rotate: 180deg;
  }
  .swiper-nav-btn:hover > .next-icon,
  .swiper-nav-btn:focus > .next-icon,
  .swiper-nav-btn:hover > .prev-icon,
  .swiper-nav-btn:focus > .prev-icon {
    stroke: #1c1d20;
  }
}
