<div class="cookies-container container">
  <div class="cookies" data-cookies>
    <div class="cookies-line">
      <svg class="cookies-icon" width="30" height="30">
        <use href="/img/sprite.svg#icon-proicons_cookies"></use>
      </svg>
      <p class="cookies-title">Cookies</p>
    </div>
    <p class="cookies-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-btns">
      <button class="cookies-btn" data-cookies-accept>ACCEPT COOKIES</button>
      <button class="cookies-btn" data-cookies-decline>DECLINE COOKIES</button>
    </div>
    <button class="cookies-close-btn" data-cookies-close>
      <svg class="cookies-close-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-close-cookies"></use>
      </svg>
    </button>
  </div>
</div>
