<section class="description-section">
  <div class="description-container container">
    <p class="description-title">Game Description</p>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ../img/dis/star_line_dis_d@1x.png 1x,
          ../img/dis/star_line_dis_d@2x.png 2x
        "
      />
      <source
        media="(max-width: 1199px)"
        srcset="
          ../img/dis/star_line_dis_m@1x.png 1x,
          ../img/dis/star_line_dis_m@2x.png 2x
        "
      />
      <img
        src="../img/dis/star_line_dis_m@1x.png"
        alt="description-img"
        class="description-img"
      />
    </picture>
    <div class="description-text">
      <p class="description-text-one">
        COXETA - Duel-Laned Music Game invites players into a dynamic and
        mind-bending rhythm experience like no other. Blending high-tempo beats
        with visually stunning environments, this game lets you tap, slide, and
        hold through tracks that defy space and time<span class="one">.</span
        ><span class="three">...</span>
      </p>
      <p class="description-text-two" data-visible="hide">
        Collaborate with the iconic O2JAM universe as you explore the role of a
        researcher at the Extraordinary Science & Technology Institute,
        uncovering musical anomalies across dimensional rifts. Each level is a
        performance and a discovery, challenging you to sync with the rhythm and
        lead the charge in the Rhythm Revolution.
      </p>
    </div>

    <button type="button" class="description-btn" data-action="open">
      Read more
      <svg class="svg-read" width="14" height="14">
        <use href="../img/sprite.svg#icon-arrow-dis"></use>
      </svg>
    </button>
  </div>
</section>
