<section class="description-section section" id="descr-section">
  <div class="description-container container">
    <h2 class="section-title title-decoration">Game Description</h2>
    <div class="description-text">
      <p class="description-text-one">
        COXETA - Duel-Laned Music Game invites players into a dynamic and
        mind-bending rhythm experience like no other. Blending high-tempo beats
        with visually stunning environments, this game lets you tap, slide, and
        hold through tracks that defy space and time<span class="one">.</span
        ><span class="three">...</span>
      </p>
      <p class="description-text-two" data-visible="hide">
        Collaborate with the iconic O2JAM universe as you explore the role of a
        researcher at the Extraordinary Science & Technology Institute,
        uncovering musical anomalies across dimensional rifts. Each level is a
        performance and a discovery, challenging you to sync with the rhythm and
        lead the charge in the Rhythm Revolution.
      </p>
    </div>
    <button type="button" class="description-btn" data-action="open">
      Read more
      <svg class="svg-read" width="14" height="14">
        <use href="/img/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
