<section class="ftrs-section section">
  <div class="ftrs-container container">
    <h2 class="section-title title-decoration">Main Gameplay Features</h2>
    <div class="ftrs-swiper ftrs-swiper-js">
      <ul class="swiper-wrapper ftrs-swiper-list">
        <li class="swiper-slide ftrs-list-item">
          <picture class="ftrs-item-picture">
            <source
              srcset="
                /img/features/ftrs-img-1-m@1x.jpg 1x,
                /img/features/ftrs-img-1-m@2x.jpg 2x
              "
            />
            <img
              class="ftrs-item-img"
              src="/img/features/ftrs-img-1-m@1x.jpg"
              width="250"
              height="113"
            />
          </picture>
          <h3 class="ftrs-item-title">Rhythm Lab</h3>
          <p class="ftrs-item-text">
            Replay and analyze performances to refine skills.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <!-- <img src="" alt="" /> -->
          <h3 class="ftrs-item-title">Beat Sync Technology</h3>
          <p class="ftrs-item-text">
            Tracks and visuals pulse in harmony with your input.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <!-- <img src="" alt="" /> -->
          <h3 class="ftrs-item-title">Tap, Slide, Hold</h3>
          <p class="ftrs-item-text">
            Match the beat using intuitive multi-touch mechanics
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <!-- <img src="" alt="" /> -->
          <h3 class="ftrs-item-title">Dual Track Action</h3>
          <p class="ftrs-item-text">
            Navigate two lanes of music simultaneously for deeper rhythm
            immersion.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <!-- <img src="" alt="" /> -->
          <h3 class="ftrs-item-title">Dimensional Themes</h3>
          <p class="ftrs-item-text">
            Play levels based on unique sci-fi worlds and scientific
            breakthroughs.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <!-- <img src="" alt="" /> -->
          <h3 class="ftrs-item-title">Progressive Unlocks</h3>
          <p class="ftrs-item-text">
            New songs, backgrounds, and customization options unlock as you
            advance.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <!-- <img src="" alt="" /> -->
          <h3 class="ftrs-item-title">Global Leaderboards</h3>
          <p class="ftrs-item-text">Compete with players around the world.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
