<section class="ftrs-section section" id="ftrs-section">
  <div class="ftrs-container container">
    <h2 class="section-title title-decoration">Main Gameplay Features</h2>
    <div class="ftrs-swiper" data-ftrs-swiper>
      <ul class="swiper-wrapper ftrs-swiper-list">
        <li class="swiper-slide ftrs-list-item">
          <picture class="ftrs-item-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/features/ftrs-img-1-d@1x.jpg 1x,
                /img/features/ftrs-img-1-d@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/features/ftrs-img-1-m@1x.jpg 1x,
                /img/features/ftrs-img-1-m@2x.jpg 2x
              "
            />
            <img
              class="ftrs-item-img"
              src="/img/features/ftrs-img-1-d@1x.jpg"
              alt="Feature image"
              width="477"
              height="215"
            />
          </picture>
          <h3 class="ftrs-item-title">Rhythm Lab</h3>
          <p class="ftrs-item-text">
            Replay and analyze performances to refine skills.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <picture class="ftrs-item-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/features/ftrs-img-2-d@1x.jpg 1x,
                /img/features/ftrs-img-2-d@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/features/ftrs-img-2-m@1x.jpg 1x,
                /img/features/ftrs-img-2-m@2x.jpg 2x
              "
            />
            <img
              class="ftrs-item-img"
              src="/img/features/ftrs-img-2-d@1x.jpg"
              alt="Feature image"
              width="477"
              height="215"
            />
          </picture>
          <h3 class="ftrs-item-title">Beat Sync Technology</h3>
          <p class="ftrs-item-text">
            Tracks and visuals pulse in harmony with your input.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <picture class="ftrs-item-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/features/ftrs-img-3-d@1x.jpg 1x,
                /img/features/ftrs-img-3-d@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/features/ftrs-img-3-m@1x.jpg 1x,
                /img/features/ftrs-img-3-m@2x.jpg 2x
              "
            />
            <img
              class="ftrs-item-img"
              src="/img/features/ftrs-img-3-d@1x.jpg"
              alt="Feature image"
              width="477"
              height="215"
            />
          </picture>
          <h3 class="ftrs-item-title">Tap, Slide, Hold</h3>
          <p class="ftrs-item-text">
            Match the beat using intuitive multi-touch mechanics
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <picture class="ftrs-item-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/features/ftrs-img-4-d@1x.jpg 1x,
                /img/features/ftrs-img-4-d@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/features/ftrs-img-4-m@1x.jpg 1x,
                /img/features/ftrs-img-4-m@2x.jpg 2x
              "
            />
            <img
              class="ftrs-item-img"
              src="/img/features/ftrs-img-4-d@1x.jpg"
              alt="Feature image"
              width="477"
              height="215"
            />
          </picture>
          <h3 class="ftrs-item-title">Dual Track Action</h3>
          <p class="ftrs-item-text">
            Navigate two lanes of music simultaneously for deeper rhythm
            immersion.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <picture class="ftrs-item-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/features/ftrs-img-5-d@1x.jpg 1x,
                /img/features/ftrs-img-5-d@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/features/ftrs-img-5-m@1x.jpg 1x,
                /img/features/ftrs-img-5-m@2x.jpg 2x
              "
            />
            <img
              class="ftrs-item-img"
              src="/img/features/ftrs-img-5-d@1x.jpg"
              alt="Feature image"
              width="477"
              height="215"
            />
          </picture>
          <h3 class="ftrs-item-title">Dimensional Themes</h3>
          <p class="ftrs-item-text">
            Play levels based on unique sci-fi worlds and scientific
            breakthroughs.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <picture class="ftrs-item-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/features/ftrs-img-6-d@1x.jpg 1x,
                /img/features/ftrs-img-6-d@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/features/ftrs-img-6-m@1x.jpg 1x,
                /img/features/ftrs-img-6-m@2x.jpg 2x
              "
            />
            <img
              class="ftrs-item-img"
              src="/img/features/ftrs-img-6-d@1x.jpg"
              alt="Feature image"
              width="477"
              height="215"
            />
          </picture>
          <h3 class="ftrs-item-title">Progressive Unlocks</h3>
          <p class="ftrs-item-text">
            New songs, backgrounds, and customization options unlock as you
            advance.
          </p>
        </li>
        <li class="swiper-slide ftrs-list-item">
          <picture class="ftrs-item-picture">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/features/ftrs-img-7-d@1x.jpg 1x,
                /img/features/ftrs-img-7-d@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/features/ftrs-img-7-m@1x.jpg 1x,
                /img/features/ftrs-img-7-m@2x.jpg 2x
              "
            />
            <img
              class="ftrs-item-img"
              src="/img/features/ftrs-img-7-d@1x.jpg"
              alt="Feature image"
              width="477"
              height="215"
            />
          </picture>
          <h3 class="ftrs-item-title">Global Leaderboards</h3>
          <p class="ftrs-item-text">Compete with players around the world.</p>
        </li>
      </ul>
    </div>
    <div class="swiper-nav-btn-wrapper">
      <button class="swiper-nav-btn" type="button" data-ftrs-swiper-prev>
        <svg class="prev-icon" width="30" height="30">
          <use href="/img/sprite.svg#icon-slide-arrow"></use>
        </svg>
      </button>
      <button class="swiper-nav-btn" type="button" data-ftrs-swiper-next>
        <svg class="next-icon" width="30" height="30">
          <use href="/img/sprite.svg#icon-slide-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
