<div class="footer-container container">
  <picture>
    <source
      media="(min-width: 1200px)"
      srcset="
        ../img/footer/star_line_footer_desktop@1x.png 1x,
        ../img/footer/star_line_footer_desktop@2x.png 2x
      "
    />
    <source
      media="(max-width: 1199px)"
      srcset="
        ../img/footer/star_line_footer_mobile@1x.png 1x,
        ../img/footer/star_line_footer_mobile@2x.png 2x
      "
    />
    <img
      src="../img/footer/star_line_footer_mobile@1x.png"
      alt="footer-img"
      class="footer-img"
    />
  </picture>
  <ul class="footer-list">
    <li class="footer-item">
      <a href="../privacy-policy.html" class="footer-link">Privacy Policy</a>
    </li>
    <li class="footer-item">
      <div class="line"></div>
      <span class="divider">|</span>
    </li>
    <li class="footer-item">
      <a href="../terms-and-conditions.html" class="footer-link"
        >Terms & Conditions</a
      >
    </li>
    <li class="footer-item">
      <div class="line"></div>
      <span class="divider">|</span>
    </li>
    <li class="footer-item">
      <a href="../cookies-policy.html" class="footer-link">Cookies Policy</a>
    </li>
  </ul>

  <p class="footer-text">All rights reserved, 2025. fbkagavyo.xyz</p>
</div>
