<header class="hdr">
  <div class="hdr-container container">
    <div class="hdr-content-wrapper">
      <picture class="hdr-logo-picture">
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/header/logo-desk@1x.png 1x,
            /img/header/logo-desk@1x.png 2x
          "
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            /img/header/logo-mob@1x.png 1x,
            /img/header/logo-mob@2x.png 2x
          "
        />
        <img
          src="/img/header/logo-mob@1x.png"
          alt="Logo"
          class="hdr-logo"
          width="88"
          height="72"
        />
      </picture>
      <nav class="hdr-nav">
        <ul class="hdr-nav-list">
          <li class="nav-item">
            <a href="#descr-section" class="nav-item-link">Game Description</a>
          </li>
          <li class="nav-item">
            <a href="#advtg-section" class="nav-item-link">Advantages</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-item-link">Main Gameplay Features</a>
          </li>
          <li class="nav-item">
            <a href="#rev-section" class="nav-item-link">User Reviews</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-item-link">How to Play</a>
          </li>
          <li class="nav-item"><a href="" class="nav-item-link">FAQ</a></li>
        </ul>
      </nav>
      <button type="button" class="mob-menu-btn" data-menu="open">
        <svg class="mob-menu-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <button type="button" class="mob-menu-btn inactive" data-menu="close">
        <svg class="mob-menu-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mob-menu" data-menu-opened>
    <nav class="mob-nav">
      <ul class="mob-nav-list">
        <li class="mob-nav-item">
          <a href="" class="mob-nav-item-link">Game Description</a>
        </li>
        <li class="mob-nav-item">
          <a href="" class="mob-nav-item-link">Advantages</a>
        </li>
        <li class="mob-nav-item">
          <a href="" class="mob-nav-item-link">Main Gameplay Features</a>
        </li>
        <li class="mob-nav-item">
          <a href="" class="mob-nav-item-link">User Reviews</a>
        </li>
        <li class="mob-nav-item">
          <a href="" class="mob-nav-item-link">How to Play</a>
        </li>
        <li class="mob-nav-item">
          <a href="" class="mob-nav-item-link">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
