<section class="hero-section">
  <div class="hero-container container">
    <h1 class="hero-titel">COXETA - Duel-Laned Music Game</h1>
    <p class="hero-text">Feel the Rhythm. Master the Beat</p>
    <a
      href="https://play.google.com/store/apps/details?id=com.teamrhythmicals.costheta&hl=en&gl=us"
      class="hero-btn"
    >
      <img
        class="hero-btn-img"
        src="/img/hero/Google-Play@1x.png"
        srcset="
          /img/hero/Google-Play@1x.png 1x,
          /img/hero/Google-Play@2x.png 2x
        "
        alt="Google Play"
      />
      Play Now
    </a>
  </div>
</section>
