<section class="hero-section">
  <div class="hero-container container">
    <p class="hero-titel">COXETA - Duel-Laned Music Game</p>
    <p class="hero-text">Feel the Rhythm. Master the Beat</p>
    <a href="" class="hero-btn">
      <img
        class="hero-btn-img"
        src="../img/hero/Google-Play@1x.png"
        srcset="
          ../img/hero/Google-Play@1x.png 1x,
          ../img/hero/Google-Play@2x.png 2x
        "
        alt="Google Play"
      />
      Play Now
    </a>
  </div>
</section>
