<section class="reviews-section section" id="rev-section">
  <div class="reviews-container container">
    <h2 class="section-title title-decoration">User Reviews</h2>
    <div class="swiper" data-swiper="reviews">
      <div class="swiper-wrapper swiper-wrapper-reviews">
        <div class="swiper-slide swiper-slide-reviews">
          <p class="review-name">Mira Y.</p>
          <ul class="review-rating">
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <svg class="svg-quote svg-quote-one" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
          <p class="review-text">
            A rhythm game with a story? I'm hooked! The dual-lane gameplay is so
            fresh
          </p>
          <svg class="svg-quote svg-quote-two" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <p class="review-name">Leo N.</p>
          <ul class="review-rating">
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <svg class="svg-quote svg-quote-one" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
          <p class="review-text">
            COXETA is visually stunning and musically thrilling. O2JAM vibes all
            the way!
          </p>
          <svg class="svg-quote svg-quote-two" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <p class="review-name">Jade R.</p>
          <ul class="review-rating">
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <svg class="svg-quote svg-quote-one" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
          <p class="review-text">
            The futuristic setting makes every beat more intense.
          </p>
          <svg class="svg-quote svg-quote-two" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <p class="review-name">Tom K.</p>
          <ul class="review-rating">
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <svg class="svg-quote svg-quote-one" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
          <p class="review-text">
            I love unlocking new tracks and mastering each pattern.
          </p>
          <svg class="svg-quote svg-quote-two" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <p class="review-name">Nina L.</p>
          <ul class="review-rating">
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="svg-star" width="7.67" height="7.67">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <svg class="svg-quote svg-quote-one" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
          <p class="review-text">
            Perfect for music lovers and sci-fi fans alike!
          </p>
          <svg class="svg-quote svg-quote-two" width="9.12" height="7.15">
            <use href="/img/sprite.svg#icon-quote-right"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="reviews-btns">
      <button class="reviews-btn" type="button" data-swiper-prev>
        <svg class="prev-icon" width="30" height="30">
          <use href="/img/sprite.svg#icon-slide-arrow"></use>
        </svg>
      </button>
      <button class="reviews-btn" type="button" data-swiper-next>
        <svg class="next-icon" width="30" height="30">
          <use href="/img/sprite.svg#icon-slide-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
