.advtg-section {
  position: relative;
}
.advtg-section::after {
  content: '';
  position: absolute;
  top: -40px;
  width: 100%;
  height: 200%;
  background: image-set(
      url('../img/grd/adv_mob@1x.png') 1x,
      url('../img/grd/adv_mob@2x.png') 2x
    )
    no-repeat center top;
  z-index: -1;
}
.advtg-container {
  padding: 0;
}
.advtg-swiper {
  height: 280px;
  width: 100%;
  overflow: hidden;
}
.advtg-swiper-slide {
  width: 261px !important;
}
.advtg-swiper-slide-top,
.advtg-swiper-slide-bottom {
  box-sizing: border-box;
  min-width: 261px;
  min-height: calc((100% - 8px) / 2);
  padding: 27px 38px;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.advtg-swiper-slide-top {
  margin-bottom: 8px;
  position: relative;
  left: 220px;
}
.slide-type-1 > .advtg-swiper-slide-top {
  background-image: url('../img/advantages/advtg-bg-img1@1x.jpg');
}
.slide-type-1 > .advtg-swiper-slide-bottom {
  background-image: url('../img/advantages/advtg-bg-img2@1x.jpg');
}
.slide-type-2 > .advtg-swiper-slide-top {
  background-image: url('../img/advantages/advtg-bg-img3@1x.jpg');
}
.slide-type-2 > .advtg-swiper-slide-bottom {
  background-image: url('../img/advantages/advtg-bg-img4@1x.jpg');
}
.slide-type-3 > .advtg-swiper-slide-top {
  background-image: url('../img/advantages/advtg-bg-img5@1x.jpg');
}
.slide-type-3 > .advtg-swiper-slide-bottom {
  background-image: url('../img/advantages/advtg-bg-img6@1x.jpg');
}
.slide-type-4 > .advtg-swiper-slide-top {
  background-image: url('../img/advantages/advtg-bg-img7@1x.jpg');
}
.slide-type-4 > .advtg-swiper-slide-bottom {
  background-image: url('../img/advantages/advtg-bg-img8@1x.jpg');
}
.slide-type-5 > .advtg-swiper-slide-top {
  background-image: url('../img/advantages/advtg-bg-img9@1x.jpg');
}
.slide-type-5 > .advtg-swiper-slide-bottom {
  background-image: url('../img/advantages/advtg-bg-img10@1x.jpg');
}
@media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slide-type-1 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img1@2x.jpg');
  }
  .slide-type-1 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img2@2x.jpg');
  }
  .slide-type-2 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img3@2x.jpg');
  }
  .slide-type-2 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img4@2x.jpg');
  }
  .slide-type-3 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img5@2x.jpg');
  }
  .slide-type-3 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img6@2x.jpg');
  }
  .slide-type-4 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img7@2x.jpg');
  }
  .slide-type-4 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img8@2x.jpg');
  }
  .slide-type-5 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img9@2x.jpg');
  }
  .slide-type-5 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img10@2x.jpg');
  }
}
.advtg-slide-title {
  height: 31px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 14px;
}
.advtg-slide-text {
  font-size: 10px;
}

@include media(desktop) {
  .advtg-section::after {
    background: image-set(
        url('../img/grd/adv_desktop@1x.png') 1x,
        url('../img/grd/adv_desktop@2x.png') 2x
      )
      no-repeat center top;
    top: -200px;
  }
  .advtg-swiper {
    height: 500px;
    margin-bottom: 24px;
  }
  .advtg-swiper-slide {
    width: 456px !important;
  }
  .advtg-swiper-slide-top,
  .advtg-swiper-slide-bottom {
    min-width: 100%;
    min-height: calc((100% - 24px) / 2);
    padding: 48px 66.5px;
    border-radius: 32px;
  }
  .advtg-swiper-slide-top {
    margin-bottom: 24px;
    left: -240px;
  }
  .slide-type-1 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img-lap1@1x.jpg');
  }
  .slide-type-1 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img-lap2@1x.jpg');
  }
  .slide-type-2 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img-lap3@1x.jpg');
  }
  .slide-type-2 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img-lap4@1x.jpg');
  }
  .slide-type-3 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img-lap5@1x.jpg');
  }
  .slide-type-3 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img-lap6@1x.jpg');
  }
  .slide-type-4 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img-lap7@1x.jpg');
  }
  .slide-type-4 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img-lap8@1x.jpg');
  }
  .slide-type-5 > .advtg-swiper-slide-top {
    background-image: url('../img/advantages/advtg-bg-img-lap9@1x.jpg');
  }
  .slide-type-5 > .advtg-swiper-slide-bottom {
    background-image: url('../img/advantages/advtg-bg-img-lap10@1x.jpg');
  }
  @media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .slide-type-1 > .advtg-swiper-slide-top {
      background-image: url('../img/advantages/advtg-bg-img-lap1@2x.jpg');
    }
    .slide-type-1 > .advtg-swiper-slide-bottom {
      background-image: url('../img/advantages/advtg-bg-img-lap2@2x.jpg');
    }
    .slide-type-2 > .advtg-swiper-slide-top {
      background-image: url('../img/advantages/advtg-bg-img-lap3@2x.jpg');
    }
    .slide-type-2 > .advtg-swiper-slide-bottom {
      background-image: url('../img/advantages/advtg-bg-img-lap4@2x.jpg');
    }
    .slide-type-3 > .advtg-swiper-slide-top {
      background-image: url('../img/advantages/advtg-bg-img-lap5@2x.jpg');
    }
    .slide-type-3 > .advtg-swiper-slide-bottom {
      background-image: url('../img/advantages/advtg-bg-img-lap6@2x.jpg');
    }
    .slide-type-4 > .advtg-swiper-slide-top {
      background-image: url('../img/advantages/advtg-bg-img-lap7@2x.jpg');
    }
    .slide-type-4 > .advtg-swiper-slide-bottom {
      background-image: url('../img/advantages/advtg-bg-img-lap8@2x.jpg');
    }
    .slide-type-5 > .advtg-swiper-slide-top {
      background-image: url('../img/advantages/advtg-bg-img-lap9@2x.jpg');
    }
    .slide-type-5 > .advtg-swiper-slide-bottom {
      background-image: url('../img/advantages/advtg-bg-img-lap10@2x.jpg');
    }
  }
  .advtg-slide-title {
    height: 54px;
    margin-bottom: 24px;
    font-size: 18px;
  }
  .advtg-slide-text {
    font-size: 16px;
  }
}
