.advtg-title {
  margin-bottom: 23px;
}
// .advtg-title::after {
//   content: '';
//   background-image: url('../img/rev/star_line_rev_m@1x.png');
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   display: block;
//   width: 272px;
//   height: 20px;

//   position: relative;
//   top: -6px;
//   left: 50%;
//   transform: translateX(-50%);
// }
// @media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
//   .advtg-title::after {
//     background-image: url('../img/rev/star_line_rev_m@2x.png');
//   }
// }
.advtg-swiper {
  height: 280px;
  width: 100%;
  overflow: hidden;
}
.advtg-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc((100% - 8px) / 2) !important;
  width: 260px !important;

  border-radius: 18px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

.advtg-swiper-slide:nth-child(1) {
  background-image: url('../img/advantages/advtg-bg-img1@1x.jpg');
}
.advtg-swiper-slide:nth-child(2) {
  background-image: url('../img/advantages/advtg-bg-img2@1x.jpg');
}
.advtg-swiper-slide:nth-child(3) {
  background-image: url('../img/advantages/advtg-bg-img3@1x.jpg');
}
.advtg-swiper-slide:nth-child(4) {
  background-image: url('../img/advantages/advtg-bg-img4@1x.jpg');
}
.advtg-swiper-slide:nth-child(5) {
  background-image: url('../img/advantages/advtg-bg-img5@1x.jpg');
}
.advtg-swiper-slide:nth-child(6) {
  background-image: url('../img/advantages/advtg-bg-img6@1x.jpg');
}
.advtg-swiper-slide:nth-child(7) {
  background-image: url('../img/advantages/advtg-bg-img7@1x.jpg');
}
.advtg-swiper-slide:nth-child(8) {
  background-image: url('../img/advantages/advtg-bg-img8@1x.jpg');
}
.advtg-swiper-slide:nth-child(9) {
  background-image: url('../img/advantages/advtg-bg-img9@1x.jpg');
}
.advtg-swiper-slide:nth-child(10) {
  background-image: url('../img/advantages/advtg-bg-img10@1x.jpg');
}
.advtg-slide-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 24px;
}
.advtg-slide-text {
  font-size: 10px;
}

@include media(desktop) {
  .advtg-title {
    font-size: 40px;
  }
  // .advtg-title::after {
  //   background-image: url('../img/rev/star_line_rev_d@1x.png');
  //   margin-bottom: 24px;
  //   width: 808px;
  //   height: 67px;
  //   top: -17px;
  // }
  // @media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   .advtg-title::after {
  //     background-image: url('../img/rev/star_line_rev_d@2x.png');
  //   }
  // }
  .advtg-swiper {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }
  .advtg-swiper-slide {
    border-radius: 30px;
    margin-bottom: 24px;

    height: calc((100% - 24px) / 2) !important;
    width: 456px !important;
  }
  .advtg-swiper-slide:nth-child(1) {
    background-image: url('../img/advantages/advtg-bg-img-lap1@1x.jpg');
  }
  .advtg-swiper-slide:nth-child(2) {
    background-image: url('../img/advantages/advtg-bg-img-lap2@1x.jpg');
  }
  .advtg-swiper-slide:nth-child(3) {
    background-image: url('../img/advantages/advtg-bg-img-lap3@1x.jpg');
  }
  .advtg-swiper-slide:nth-child(4) {
    background-image: url('../img/advantages/advtg-bg-img-lap4@1x.jpg');
  }
  .advtg-swiper-slide:nth-child(5) {
    background-image: url('../img/advantages/advtg-bg-img-lap5@1x.jpg');
  }
  .advtg-swiper-slide:nth-child(6) {
    background-image: url('../img/advantages/advtg-bg-img-lap6@1x.jpg');
  }
  .advtg-swiper-slide:nth-child(7) {
    background-image: url('../img/advantages/advtg-bg-img-lap7@1x.jpg');
  }
  .advtg-swiper-slide:nth-child(8) {
    background-image: url('../img/advantages/advtg-bg-img-lap8@1x.jpg');
  }
  .advtg-swiper-slide:nth-child(9) {
    background-image: url('../img/advantages/advtg-bg-img-lap9@1x.jpg');
  }
  .advtg-swiper-slide:nth-child(10) {
    background-image: url('../img/advantages/advtg-bg-img-lap10@1x.jpg');
  }
  .advtg-slide-title {
    font-size: 18px;
  }
  .advtg-slide-text {
    font-size: 16px;
  }
}
